<section>
  <div class="row">
    <div class="col">
      <h6 class="font-weight-bold">SPECIALS</h6>
      <hr class="mt-0" />
      <div class="row mb-3" *ngFor="let product of special">
        <div class="col-4">
          <img class="img-fluid" src="assets/img/{{product.images[0]}}" />
        </div>
        <div class="col pl-0">
          <span class="d-block">{{product.name}}</span
          ><span class="d-block font-weight-bold"
            >{{product.price | currency:'USD':'symbol-narrow':'1.0-0'}}</span
          ><a href="#">Add to Cart</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <h6 class="font-weight-bold">BESTSELLERS</h6>
      <hr class="mt-0" />
      <div class="row mb-3" *ngFor="let product of bestseller">
        <div class="col-4">
          <img class="img-fluid" src="assets/img/{{product.images[0]}}" />
        </div>
        <div class="col pl-0">
          <span class="d-block">{{product.name}}</span
          ><span class="d-block font-weight-bold"
            >{{product.price | currency:'USD':'symbol-narrow':'1.0-0'}}</span
          ><a href="#">Add to Cart</a>
        </div>
      </div>
      <!-- <div class="row mb-3">
        <div class="col-4">
          <img class="img-fluid" src="assets/img/4product50x59.jpg" />
        </div>
        <div class="col pl-0">
          <span class="d-block">Lodesta</span
          ><span class="d-block font-weight-bold">$258</span
          ><a href="#">Add to Cart</a>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-4">
          <img class="img-fluid" src="assets/img/bestseller-3.jpg" />
        </div>
        <div class="col pl-0">
          <span class="d-block">Lodesta</span
          ><span class="d-block font-weight-bold">$258</span
          ><a href="#">Add to Cart</a>
        </div>
      </div> -->
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <h6 class="font-weight-bold">LATEST</h6>
      <hr class="mt-0" />
      <div class="row mb-3" *ngFor="let product of latest">
        <div class="col-4">
          <img class="img-fluid" src="assets/img/{{product.images[0]}}" />
        </div>
        <div class="col pl-0">
          <span class="d-block">{{product.name}}</span
          ><span class="d-block font-weight-bold"
            >{{product.price | currency:'USD':'symbol-narrow':'1.0-0'}}</span
          ><a href="#">Add to Cart</a>
        </div>
      </div>
      <!-- <div class="row mb-3">
        <div class="col-4">
          <img class="img-fluid" src="assets/img/1product50x59.jpg" />
        </div>
        <div class="col pl-0">
          <span class="d-block">Lodesta</span
          ><span class="d-block font-weight-bold">$258</span
          ><a href="#">Add to Cart</a>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-4">
          <img class="img-fluid" src="assets/img/pro-4-220x294.jpg" />
        </div>
        <div class="col pl-0">
          <span class="d-block">Lodesta</span
          ><span class="d-block font-weight-bold">$258</span
          ><a href="#">Add to Cart</a>
        </div>
      </div> -->
    </div>
  </div>
</section>
