<section id="pagination" class="mt-3">
  <div class="row">
    <div class="col">
      <nav class="d-lg-flex justify-content-lg-center">
        <ul class="pagination">
          <li class="page-item">
            <a
              class="page-link"
              (click)="getSelectedPage(null, 'previous')"
              aria-label="Previous"
              ><span aria-hidden="true">«</span></a
            >
          </li>
          <li class="page-item" *ngFor="let pageNo of pages">
            <a
              class="page-link"
              (click)="getSelectedPage(pageNo, null)"
              [ngClass]="{ activeTab: selectedPageNo == pageNo }"
              >{{pageNo}}</a
            >
          </li>
          <li class="page-item">
            <a
              class="page-link"
              (click)="getSelectedPage(null, 'next')"
              aria-label="Next"
              ><span aria-hidden="true">»</span></a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
