<section class="mt-5">
  <div class="row mb-2">
    <div class="col">
      <div class="collapsible p-1">
        <a
          class="btn btn-light button"
          data-toggle="collapse"
          aria-expanded="false"
          aria-controls="collapse-1"
          href="#collapse-1"
          role="button"
          >Use Coupon Code<i class="fa fa-caret-down ml-2"></i
        ></a>
        <div class="collapse" id="collapse-1">
          <div class="row mt-2">
            <div class="col col-md-8 col-lg-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text d-none"
                    >Enter your coupon here:</span
                  >
                </div>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Enter your coupon here"
                />
                <div class="input-group-append">
                  <button class="btn btn-primary applyCouponBtn" type="button">
                    Apply Coupon
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col">
      <div class="collapsible p-1">
        <a
          class="btn btn-light button"
          data-toggle="collapse"
          aria-expanded="false"
          aria-controls="collapse-2"
          href="#collapse-2"
          role="button"
          >Use Gift Voucher<i class="fa fa-caret-down ml-2"></i
        ></a>
        <div class="collapse" id="collapse-2">
          <div class="row mt-2">
            <div class="col col-md-8 col-lg-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text d-none"
                    >Enter your coupon here:</span
                  >
                </div>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Enter your voucher code"
                />
                <div class="input-group-append">
                  <button class="btn btn-primary applyCouponBtn" type="button">
                    Apply Voucher
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="collapsible p-1">
        <a
          class="btn btn-light button"
          data-toggle="collapse"
          aria-expanded="false"
          aria-controls="collapse-3"
          href="#collapse-3"
          role="button"
          >Estimate Shipping &amp; Taxes<i class="fa fa-caret-down ml-2"></i
        ></a>
        <div class="collapse ml-2" id="collapse-3">
          <div class="row mt-3">
            <div class="col-12">
              <h6>Enter your destination to get a shipping estimate</h6>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-12 col-md-2">
              <span class="mr-1 star">*</span><span>Country</span>
            </div>
            <div class="col-12 col-md-6">
              <input type="text" class="w-100" />
            </div>
          </div>
          <div class="row my-2">
            <div class="col-12 col-md-2">
              <span class="mr-1 star">*</span><span>State</span>
            </div>
            <div class="col-12 col-md-6">
              <select class="w-100 p-1"
                ><option value="" selected=""></option
                ><option value="13">Arkansas</option
                ><option value="14">New York</option
                ><option value="">Rhode Island</option></select
              >
            </div>
          </div>
          <div class="row my-2">
            <div class="col-12 col-md-2">
              <span class="mr-1 star">*</span><span>Zip Code</span>
            </div>
            <div class="col-12 col-md-6">
              <input type="text" class="w-100" />
            </div>
          </div>
          <div class="row my-2">
            <div class="col-12 col-md-4">
              <button class="btn btn-primary applyCouponBtn" type="button">
                Get Estimate
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
