<div class="row">
  <div class="col">
    <h6 class="font-weight-bold">SPECIALS</h6>
    <hr class="mt-0" />
    <div class="row mb-3" *ngFor="let product of special">
      <div class="col-4">
        <img class="img-fluid" src="assets/img/{{product.images[0]}}" />
      </div>
      <div class="col pl-0">
        <span class="d-block">{{product.name}}</span
        ><span class="d-block font-weight-bold"
          >{{product.price | currency:'USD':'symbol-narrow':'1.0-0'}}</span
        >

        <a (click)="addToCart(product._id)" class="add-to-cart-link"
          >Add to Cart</a
        >
      </div>
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col">
    <h6 class="font-weight-bold">BESTSELLERS</h6>
    <hr class="mt-0" />
    <div class="row mb-3" *ngFor="let product of bestseller">
      <div class="col-4">
        <img class="img-fluid" src="assets/img/{{product.images[0]}}" />
      </div>
      <div class="col pl-0">
        <span class="d-block">{{product.name}}</span
        ><span class="d-block font-weight-bold"
          >{{product.price | currency:'USD':'symbol-narrow':'1.0-0'}}</span
        >
        <a (click)="addToCart(product._id)" class="add-to-cart-link"
          >Add to Cart</a
        >
      </div>
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col">
    <h6 class="font-weight-bold">LATEST</h6>
    <hr class="mt-0" />
    <div class="row mb-3" *ngFor="let product of latest">
      <div class="col-4">
        <img class="img-fluid" src="assets/img/{{product.images[0]}}" />
      </div>
      <div class="col pl-0">
        <span class="d-block">{{product.name}}</span
        ><span class="d-block font-weight-bold"
          >{{product.price | currency:'USD':'symbol-narrow':'1.0-0'}}</span
        >
        <a (click)="addToCart(product._id)" class="add-to-cart-link"
          >Add to Cart</a
        >
      </div>
    </div>
  </div>
</div>
