.cart {
  border-left: none;

  @media (min-width: 768px) {
    border-left: 1px solid #d5d4d4;
  }
}

.cartImage {
  width: 6rem;
}

.quantity {
  input {
    width: 3rem;
  }

  i {
    font-size: 1.3rem;
  }

  .fa-trash-o {
    color: red;
  }

  .fa-refresh {
    color: green;
  }
}

.collapsible {
  border: 1px solid #d5d4d4;

  .button {
    font-weight: bold;
    border: none;
    font-size: 0.9rem !important;
  }

  .applyCouponBtn {
    background: black;
    border-radius: 0;
    border: black;
  }

  .star {
    color: red;
  }
}

.actionButton {
  background: #000;
  border: none;
  border-radius: 0;
  min-width: 11rem;
  // font-weight: bold;

  i {
    color: white;
  }
}

.actionCol {
  justify-content: space-between !important;
  display: block !important;

  @media (min-width: 768px) {
    display: flex !important;
  }
}

.priceSummary {
  @media (min-width: 768px) {
    text-align: right;
  }
}
