<div class="container-fluid">
  <footer>
    <hr />
    <section>
      <div class="row">
        <div class="col-12 col-lg-3 mb-3 mb-lg-0">
          <h6 class="font-weight-bold d-lg-none">
            <a
              class="d-flex justify-content-between align-items-center d-lg-none"
              href="#information"
              data-toggle="collapse"
              ><span>INFORMATION</span><i class="fa fa-plus-circle"></i
            ></a>
          </h6>
          <h6 class="font-weight-bold d-lg-block d-none">
            <span>INFORMATION</span>
          </h6>
          <ul class="list-unstyled collapse show-list" id="information">
            <li>About Us</li>
            <li>Delivery Information</li>
            <li>Privacy Policy</li>
            <li>Terms &amp; Conditions</li>
            <li>Returns</li>
            <li>Site Map</li>
            <li>Wish List</li>
          </ul>
        </div>
        <div class="col-12 col-lg-3 mb-3 mb-lg-0">
          <h6 class="font-weight-bold d-lg-none">
            <a
              class="d-flex justify-content-between align-items-center d-lg-none"
              href="#whychoose"
              data-toggle="collapse"
              ><span><strong>WHY CHOOSE</strong></span
              ><i class="fa fa-plus-circle"></i
            ></a>
          </h6>
          <h6 class="font-weight-bold d-lg-block d-none">
            <span><strong>WHY CHOOSE</strong></span>
          </h6>
          <ul class="list-unstyled collapse show-list" id="whychoose">
            <li>Contact Us</li>
            <li>Product Recall</li>
            <li>Gift Vouchers</li>
            <li>Returns and Exchanges</li>
            <li>Shipping Options</li>
            <li>Help &amp; FAQs</li>
            <li>Sale Only Today</li>
          </ul>
        </div>
        <div class="col-12 col-lg-3 mb-3 mb-lg-0">
          <h6 class="font-weight-bold d-lg-none">
            <a
              class="d-flex justify-content-between align-items-center d-lg-none"
              href="#my-account"
              data-toggle="collapse"
              ><span><strong>MY ACCOUNT</strong><br /></span
              ><i class="fa fa-plus-circle"></i
            ></a>
          </h6>
          <h6 class="font-weight-bold d-lg-block d-none">
            <span><strong>MY ACCOUNT</strong><br /></span>
          </h6>
          <ul class="list-unstyled collapse show-list" id="my-account">
            <li>Sign in</li>
            <li>Gift Vouchers</li>
            <li>Affiliates</li>
            <li>View Cart</li>
            <li>Checkout</li>
            <li>Track My Order</li>
            <li>Help</li>
          </ul>
        </div>
        <div class="col-12 col-lg-3 mb-3 mb-lg-0">
          <h6 class="font-weight-bold d-lg-none">
            <a
              class="d-flex justify-content-between align-items-center d-lg-none"
              href="#contact-us"
              data-toggle="collapse"
              ><span><strong>CONTACT US</strong><br /></span
              ><i class="fa fa-plus-circle"></i
            ></a>
          </h6>
          <h6 class="font-weight-bold d-lg-block d-none">
            <span><strong>CONTACT US</strong><br /></span>
          </h6>
          <ul class="list-unstyled collapse show-list" id="contact-us">
            <li>
              <i class="fa fa-map-marker mr-1"></i
              ><span
                ><span>Warehouse &amp; Offices,</span
                ><span class="d-block">12345 Street name, California</span
                ><span class="d-block">USA</span></span
              >
            </li>
            <li>
              <i class="fa fa-envelope mr-1"></i><span>info@localhost.com</span>
            </li>
            <li>
              <i class="fa fa-map-marker mr-1"></i
              ><span
                ><span>(888) 888-8888</span
                ><span class="d-block">(999)999-9999</span></span
              >
            </li>
          </ul>
        </div>
      </div>
    </section>
    <hr />
  </footer>
  <div class="row py-2" id="footer-trade-mark">
    <div class="col-12 text-center col-lg-6 mb-2 mb-lg-0">
      <h6 class="mb-0">Powered By KKW&nbsp;</h6>
    </div>
    <div
      class="col-12 text-center d-flex justify-content-around col-lg-6"
      id="credit-card"
    >
      <img src="assets/img/c-bank.jpg" /><img
        src="assets/img/c-currus.jpg"
      /><img src="assets/img/c-discover.jpg" /><img
        src="assets/img/c-mastero.jpg"
      /><img src="assets/img/c-visa.jpg" />
    </div>
  </div>
</div>
