.product-description {
  .product-name {
    text-transform: capitalize;
  }

  .rating {
    i {
      color: #fbb03b;
      font-size: 0.8rem;
    }
  }

  .description {
    color: rgb(128, 128, 128);
  }

  .quantity {
    width: 4rem;
    border: 1px solid rgb(128, 128, 128);
  }

  .actions {
    .actionButton {
      background: #000;
      border: none;
      border-radius: 0;

      i {
        color: white;
      }
    }

    #add-to-cart-btn {
      font-size: 0.8rem;
    }
  }
}

.tabs {
  p,
  h6 {
    color: rgb(128, 128, 128);
  }

  .navTabs .navLink {
    border: 1px solid rgb(128, 128, 128);
    color: inherit;
  }

  .navTabs .navLink.active {
    background-color: black;
    color: white;
    font-weight: bold !important;
  }

  .navTabs .navLink:hover {
    background-color: black;
    color: white;
    font-weight: bold !important;
  }

  .rateProduct {
    i {
      font-size: 2rem;
      color: #fbb03b;
    }
  }

  .textArea {
    width: 100%;
  }

  .submitReviewBtn {
    background: #000;
    border: none;
    border-radius: 0;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
}
