.loginForm {
  padding-top: 4rem;
  .button {
    background: black;
    text-transform: uppercase;
    min-width: 15rem;
    font-weight: bold;
    border-radius: 0;
  }

  .authentication-form {
    border: 1px solid;
    padding: 2rem;

    @media (min-width: 768px) {
      width: 70%;
    }

    @media (min-width: 992px) {
      width: 50%;
    }
  }

  .register {
    color: blue;
  }

  @media (min-width: 768px) {
    // padding-top: 3rem;
  }
}
