<div class="col">
  <div class="tabs">
    <ul class="nav nav-tabs navTabs">
      <li class="nav-item mr-1">
        <a
          class="nav-link active navLink active"
          role="tab"
          data-toggle="tab"
          href="#tab-1"
          >Description</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link navLink" role="tab" data-toggle="tab" href="#tab-2"
          >Reviews (2)</a
        >
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active mt-2" role="tabpanel" id="tab-1">
        <div class="row">
          <div class="col">
            <h6 class="font-weight-bold">Lorem ipsum dolor<br /></h6>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco<br />
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h6 class="font-weight-bold">Lorem ipsum dolor<br /></h6>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco<br />
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h6 class="font-weight-bold">Lorem ipsum dolor<br /></h6>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco<br />
            </p>
          </div>
        </div>
      </div>
      <div class="tab-pane" role="tabpanel" id="tab-2">
        <div class="row mt-4">
          <div class="col">
            <h5 class="font-weight-bold">Create Review</h5>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <img
              class="img-fluid"
              src="assets/img/product1.jpg"
              style="width: 7rem;"
            />
            <h6 class="product-name">
              <strong>lorem ippsum dolor&nbsp;</strong><br />
            </h6>
            <hr />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h6 class="product-name"><strong>Your Rating</strong><br /></h6>
            <div class="rateProduct d-inline-block actions">
              <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i
              ><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i
              ><i class="fa fa-star-o"></i>
            </div>
            <hr />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h6 class="product-name"><strong>Add a headline</strong><br /></h6>
            <input
              type="text"
              class="w-75"
              placeholder="What's important to know?"
            />
            <hr />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h6 class="product-name">
              <strong>What's your review?</strong><br />
            </h6>
            <textarea class="textArea" rows="6"></textarea>
            <div class="mt-2">
              <button class="btn btn-primary submitReviewBtn" type="button">
                Submit Review
              </button>
            </div>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
